/* Navbar css start from here */
.navbar{
    padding: 0px 120px;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo{
    width: 200px;
    height: 200px;
    overflow-y: visible;
    position: relative;
    margin-top: 20px;
    z-index: 2;
}
 
.menu-btn {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.4s ease;
}
.menu-btn span:nth-child(1){
    width: 25px;
}

/* Transform to X using just 3 spans */
#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
   
}
#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}
.button-1{
    margin-top: -120px;
}
 
/* hero section css start from here */
.hero-section {
    position: relative;
    z-index: 1;
    height: 80vh;
}
.hero-section video{
width: 100%;
height: 80vh;
object-fit: cover;
display: block;
}
.box-1{
     
     position: absolute;
      width: 100%;
     bottom: -50px;
   
}
.box-1 .box-2{
    width: 33%;
  
 margin: auto;  
 background: #000;
 overflow-y: visible;
}
.button-3{
margin: auto;
width: 200px;
background: #ffc105d1;
border: none;
}
.button-3:hover{
    background: transparent;
    border: dotted #ffc105d1 2px;
    color: white;
}
.box-3{
    width: 100%;
    display: flex;
    justify-content: center;
}