* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/* Navbar css start from here */
.navbar{
    padding: 0px 120px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
}
.socail-media a:nth-child(1){
  color: #033a8d;
}
.socail-media a:nth-child(2){
  color: #ed3434;
}
.socail-media a:nth-child(4){
  color: red;
}
.socail-media li:hover{
color:#ba9d28;
cursor: pointer;
}
.nav-sidebar {
  position: absolute;
  top: 80px;
   right: 100px; 
  width: 340px;
  font-family: sans-serif;
  background: white;
  color: black;
  transition: opacity 2.2s ease-in, transform 2.2s ease-in;

  padding: 40px 20px;
  z-index: 999;
  display: none;
}

.nav-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-sidebar ul li {
  padding: 10px 20px;
  border-radius: 8px;
  background-position: left center;
  cursor: pointer;
  text-align: right;
   
}
 
.nav-sidebar ul li:nth-child(1):hover {
  color: white ;
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(2):hover {
  
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(3):hover {
  
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(4):hover {
  
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(5):hover {
  
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(6):hover {
  color: white ;
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(7):hover {
  color: white ;
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(8):hover {
  color: white ;
     background: linear-gradient(to left, #ba9d28 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar li:hover a{
  color: white;
}
.nav-sidebar a {
   color: black;
  text-decoration: none;
  font-size: 23px;
  
}

/* Show the sidebar when active */
.nav-sidebar.show {
  display: block;} 
.logo{
    width: 200px;
    height: 200px;
    overflow-y: visible;
    position: relative;
    margin-top: 20px;
    z-index: 2;
}
 
.menu-btn {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.4s ease;
}
.menu-btn span:nth-child(1){
    width: 25px;
}

/* Transform to X using just 3 spans */
#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
   width: 30px;
}
#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}
.button-1{
    margin-top: -120px;
    width: 176px;
   padding-left: 100px;
}
.button-2{
   margin-top: -120px;
    width: 176px;
}
 
/* hero section css start from here */
.hero-section {
    position: relative;
    z-index: 1;
    height: 80vh;
    
}
.hero-section video{
   
width: 100%;
height: 80vh;
object-fit: cover;
display: block;
}
.box-1{
     
     position: absolute;
      width: 100%;
     bottom: -50px;
   
}
.box-1 .box-2{
    width: 33%;
  
 margin: auto;  
 background: #000;
 overflow-y: visible;
}
.button-3{
margin: auto;
width: 200px;
background-color: #ba9d28;
border: none;
padding: 8px 0px;
margin-top: 10px;
}
.button-3:hover{
    background: #fff;
    
    color: #ba9d28;
}
.box-3{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*  our favourite food  section css start from here */
.favourite-section{
    margin-top: 120px;
    margin-bottom: 100px;
}
 
.swiper1 {
  width: 80%;
  padding: 20px 0;
  position: relative;
  
}
 
.swiper-slide1 {
  width: 280px;
  
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  
  border-radius: 8px;
}
 .swiper-slide1 img{
    width: 280px;
    height: 180px;
    object-fit: cover;
   
 }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0px;
  top: auto;
  transform: translateY(0);
  width: 30px;
  height: 30px;
  
   color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
 display: none;
}

 

.swiper-button-prev {
  left: 50%;
  transform: translateX(-60px); /* move left */
}

.swiper-button-next {
  left: 50%;
  transform: translateX(20px); /* move right */
}

.swiper1 {
  padding-bottom: 70px;
}
.text-1{
     color: black;
     margin-bottom: 65px;
     font-size: 45px;
     font-weight: 500;
}
.text-2{
    font-size: 25px;
     color: black; 
    margin-top: 25px;
    font-weight: 500;
}
.text-2:hover{
    color: #ba9d28;
    
}
.describ-text{
    font-size: 16px;
    color: #666666;
font-family: "Raleway", sans-serif;
font-weight: 400;
     line-height: 26px;
}
@media (max-width: 768px) {
  .navbar{
    padding: 0px  !important;
  }
  .logo{
    width: 90px !important;
    height: 100px !important;
    margin: 0px 0px 0px 16px !important;
  }
  .button-1{
    padding: 0px !important;
    margin-top: 0px !important;
    width:  40px !important;
  }
  .button-2 {
    width: 40px !important;
    margin-top: 0px !important;
  }
  .socail-media{
    gap: 4px !important;
  }
  .button-2 .my-icon{
     
    height: 30px !important;
    padding-left: 5px !important;
    width: 30px !important;
    
  }
  .nav-sidebar{
    right: 0px !important;
    top: 100px !important;
    width: 250px !important;
  }
  
  /* mobile hero section start from here */
  .hero-section{
    width: 100% !important;
    height: 70vh !important;
  }
  .hero-section video {
    height: 70vh !important;
  }
  .box-1 div{
    width: 100% !important;
  }
  .box-3 div{
    display: flex;
    justify-content: center;
  }
  .favourite-section{
    margin: 80px 0px 30px 0px !important;
  }
  .swiper1{
    padding: 0px !important;
    height: 51vh !important;
    margin-top: 20px !important;
    
  }
  .swiper-slide1{
     
    width: 100% !important;
      
    
  }
  .swiper-slide1 img{
    width: 100% !important;
    height: 30vh !important;
  }
  .text-1{
    margin-bottom: 40px  !important;
  }

/* chef section start from here */

.our-chef{
  padding: 50px 0px !important;
}
.our-chef p{
  margin-bottom: 50px !important;
}

  /* foodsection start from here */
  .bg-1{
    width: 100% !important;
    height: 40vh !important;
  }
 .bg-2{
    width:  100% !important;
    height: 100% !important;
    padding: 30px !important;
  }
  .bg-3{
    width: 100% !important;
    height: 35vh !important;
  }

  .bg-4{
    width: 100% !important;
    padding: 50px 30px !important;
    height: 100% !important;
  }
  .bg-2 div{
    width: 100% !important;
  }
  .about-food{
    margin: 30px !important;
    gap: 30px !important;
  }
  .about-food div{
    width: 100% !important;
    
  }
  .container div{
  width: 100% !important;
} 
.under-container{
  padding: 20px !important;
}
/* testimonials mobile version start from here */
 .testm-section{
  height: 100% !important;
  padding: 50px 30px !important;
 }
  .testm-section h1{
    font-size: 35px !important;
  }
 .swiper3{
   width: 100% !important;
   height: 100% !important;
 }
 .slide3{
  width: 100% !important;
  height: 100% !important;
 }
}
/* Food-section start from here */
.food-section{
  display: flex;
  flex-wrap: wrap;
}
.food-section1{
  display: flex;
  flex-wrap: wrap-reverse;
}
.bg-1{
   
 
     
     
    height: 88vh;
    width: 50%;
    overflow: hidden;
}
.bg-1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}
 
 
.bg-2{
  width: 50%;
  background: #f7f7f7;
  padding: 50px 100px;
  height: 88vh;
  gap: 20px;
  text-align: left;
   display: flex;
   
   flex-wrap: wrap;
   
}
.bg-2 div{
  width: 48%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg-2 div img{
  width: 60px;
}
.bg-2 div h2{
  font-family: sans-serif;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}
 
 
 
.bg-2 div p {
   font-family: "Raleway", sans-serif;
   color: #666666;
   line-height: 26px;
   
}
.bg-3 {
  width: 50%;
  height: 90vh;
}
.bg-3 img{
  width: 100%;
  height: 100%;
}
.bg-4{
  width: 50%;
  height: 90vh;
  background: #f7f7f7;
  text-align: center;
  padding: 130px 145px;
}
.bg-4 p{
  color:  #666666;
  font-family: "Raleway", sans-serif;
  line-height: 26px;
  font-size: 18px;
  margin-top: 20px;
}
.box-4 h1{
  color: black;
     font-family: "Raleway", sans-serif;
font-size: 35px;
}
.box-4 img{
  margin-top: -30px;
}
.box-5{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 60px;
}
.box-5 h2{
  font-size: 20px;
 font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #1c1b1bc6;
}
/* about our food section css start from here */
.about-food{
  display: flex;
  justify-content: space-between;
  margin: 120px 100px 20px;
  gap: 80px;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}
.about-food div{
  width: 28%;
}
.text-col-1{
  color:   black; 
}
.col-2{
  color: black;
}
.col-3{
  color: black;
}
.text-3{
  font-size: 35px;
  font-weight: 600;
}
.p1{
  font-family: "Raleway", sans-serif;
  color:#ba9d28;
  margin-bottom: 30px;
  font-size: 30px;
}
.p2{
  color: #666666;
  font-family: "Raleway", sans-serif;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
}
/* our chefs section css start from here */
.our-chef{
  padding: 100px 0px;
}
.our-chef h1{
  font-family: "Raleway", sans-serif;
  font-size: 35px;
 font-weight: 700;
}
.our-chef p{
 font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ba9d28;
  font-size: 30px;
  margin-bottom: 80px;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.container div{
  width: 50%;
} 
.container div h1 {
  color:#ba9d28;
  font-weight: 600;
  font-size: 42px;
}
.container div p{
  font-size: 24px; 
  color: gray;
}
.container div img{
  width: 100%;
}
.under-container{
  padding: 100px 20px 100px 150px;
}
/* chef section start from here */
 
 
 
 
 .swiper2 {
    width: 80%;
    height: inherit;
    margin: 20px auto;
  }

  .swiper-slide2 {
      position: relative;
   
    font-size: 24px;
    border-radius: 10px;
  }
  .swiper-slide2 img{ 
   
    width: 100%;
    height: 100%;
  }
.swiper-slide2 .container-1{
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
position: absolute;
text-align: center;
background: #00000042;
top: 0px;
width: 100%;
height: 100%;
opacity: 0;
 
}
.contain-1{
  opacity: 0;
  transform: translateY(20px);
transition: opacity 0.4s ease, transform 0.4s ease;
 
 }
 .contain-1 h2{
  font-size: 21px;
  font-family: "Raleway", sans-serif;
  color: white;
 }
 .contain-1 p{
  color:#ba9d28;
  font-size: 16px;
  
 }
  
 .swiper-slide2:hover .container-1,
.swiper-slide2:hover .contain-1 {
  opacity: 1;
  transform: translateY(0);
}
/* All bullets */
.swiper-pagination-bullet {
  background-color:#ba9d28;
  
  opacity: 0.4;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color:#ba9d28;
  opacity: 1;
}

.un-contain{
  display: flex;
  
  gap: 15px;
  margin-top: -30px;
}
.un-contain .svg1{
  height: 25px;
  width: 25px;
  fill: white;
}
.svg1:hover{
  fill: goldenrod;
}
/* testimonial start from here */
.testm-section{
  background-image: url(/assets/testimonials-bg.jpg);
  height: 95vh;
  background-size: cover;
  padding-top: 100px;
}
.testm-section h1{
  color: white;
font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  
}
.testm-section p{
   font-family: "Raleway", sans-serif;
    color:#ba9d28;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.box-6 span{
       display: flex;
        flex-direction: column;
}
.testm-section div h5{
 font-size: 16px;
 color:#ba9d28;
 font-family: Calibri;
}
.testm-section div h3{
  font-size: 17px;
  font-weight: 500;
  font-family: sans-serif;
  color: #000000c2;
}
.swiper3 {
  width: 80%;
 
  height: 380px;
   
   
}
.slide3{
  padding: 45px 30px;
  background: white;
  height: 300px;
 
}
.slide3 p{
  color:  #666666;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
.slide3 div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}
/* blog section start from here */
.blog-section .div1{
  display: flex;
flex-wrap: wrap;
width: 80%;
 gap: 30px;
margin: auto;
}
@media (max-width: 768px) {
  .blog-section div .container-2{
  width: 100% !important;
 
}
 .blog-section{
    padding: 50px 0px !important;
  }
  .blog-section p{
    margin-bottom: 50px !important;
  }
  .inner-box p{
    margin-bottom: 20px !important;
  }
  .inner-box1 p{
    margin-bottom: 20px !important;
  }
  .inner-box2 p{
    margin-bottom: 20px !important;
  }
}
.blog-section{
  padding: 100px 0px;
}
.blog-section h1{
  text-align: center;
font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;

}
.blog-section p{
  text-align: center;
font-family: "Raleway", sans-serif;
  color:#ba9d28;
  font-size: 30px;
  margin-bottom: 90px;
}
.blog-section div .container-2{
  width: 31%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(90, 82, 82, 0.164);
}
.container-2 .inner-image{
      width: 100%;
      overflow: hidden;
}
 .container-2 div img{
  width: 100%;
  transition: transform 0.3s ease;
}
.container-2 img:hover{
  transform: scale(1.2);
}
.inner-box{
 padding: 35px 25px;
  background-image: url('/assets/post-body-bg-1.png');
  background-repeat: no-repeat;
  background-position: right bottom;

}
.inner-box1{
 padding: 35px 25px;
  background-image: url('/assets/post-body-bg-2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
.inner-box2{
 padding: 35px 25px;
  background-image: url('/assets/post-body-bg-3.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
.inner-box p{
  color: #666666;
font-family: "Raleway", sans-serif;
  margin: 15px 0px 40px 0px;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
   
}
.inner-box1 p{
  color: #666666;
font-family: "Raleway", sans-serif;
  margin: 15px 0px 40px 0px;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
   
}
.inner-box2 p{
  color: #666666;
font-family: "Raleway", sans-serif;
  margin: 15px 0px 40px 0px;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
   
}
.inner-box a{
  color: black;
  font-weight: 300;
}
.inner-box1 a{
  color: black;
  font-weight: 300;
}
 .inner-box2 a{
  color: black;
  font-weight: 300;
  
}
 .inner-box2 a:hover{
  color:#ba9d28;
}
.container-2 div h3{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
}
/* footer section start from here */
@media (max-width: 768px) {
  .footer-section div{
    flex-wrap: wrap !important;
    justify-content: left!important;
    gap: 20px !important;
    
  }
  .menu-nav ul {
    width: 98%;
    justify-content: start !important;
  }
  .footer-section img{
    width: 100px !important;
    height: 100px !important;
  }
}
.footer-section{
  background-image: url('/assets/Path-1375.png');
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
   
padding-bottom: 40px;

}
.footer-section img{
width: 170px;
height: 170px;
margin: auto;
margin-top: 50px;
 
}
.footer-section div{
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 50px;
   
}
.footer-section a{
  text-decoration: none;
  color: white;
}
.footer-section ul li{
  list-style: none;
}
.footer-section ul{
  line-height: 30px;
}
.social-media3 a:nth-child(1){
  color: #1265e1;
}
.social-media3 a:nth-child(2){
  color: #ed3434;
}
.social-media3 a:nth-child(4){
  color: red;
}
.social-media3 li:hover{
color:#ba9d28;
cursor: pointer;
}
.social-media3{
  margin-top: -20px;
}
 .text-l:hover{
  color: #ba9d28;
 }
 .unner-box img{
width: 50px;
 
 }
 /* Menu page start from here */
 .menu-nav{
  position: sticky;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  top: 0px;
  background: #000;
  text-align: center;
  z-index: 2;
  color: #ba9d29;
 }
 .menu-nav ul {
  display:flex;
    padding: 0;
  margin: 0;
  justify-content: center;
  overflow-x: scroll;
     scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; 
  

 }
  
  
 .menu-nav ul::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
 .menu-nav ul a{
  text-decoration: none;
  
  color: #ba9d28;
 }
 .menu-nav ul li{
   flex: 0 0 auto;
  list-style: none;
  padding: 3px 14px;
  white-space: nowrap
   
 }
 .menu-nav ul  a:hover{
  background:#ba9d28;
  color: #000;
 }
 .menu-nav ul  a.active {
  background:#ba9d28;
  color: #000;
   
}
 .logo1{
  width: 100px;
  height: 100px;
  margin-top: 0px;
  
 }
 .container-3{
  width: 40px;
 }
/* 
 food menu section start from here */
 .main-section{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
   
 }
 .food-menu{
  width: 68%;
 }
 .busket-section{
  width: 28%;
 }
 .starter-section h1{
        text-align: center;
        font-size: 35px;

        margin-bottom: 50px;
 }
 @media (max-width: 768px) {
  .main-section{
    width: 95% !important;
  }
  .food-menu{
    width: 100%;
    flex-wrap: wrap;
  }
  
   .busket-section{
    display: none;
   }
    .box-7{
  width: 100% !important; 
  display: flex !important;
flex-direction: row-reverse;
}
.box-7 button {
   display: none !important;
}
.p3{
  display: block !important;
  font-weight: 700;
  margin: 0 !important;
}
.box-7 img{
width: 40% !important;
 height: 100%!important;
}
.box-7 div{
  width: 60% !important;
}
.starter-section div{
  flex-wrap: wrap;
}
.mobile-bottom{
  position: fixed;
  display: flex !important;
  bottom: 0;
  background:#ba9d29;
  width: 100%;
}
 }
 .p3{
  display: none;
 }
 .starter-section{
  padding: 90px 0px 0px;
   
 }
 .main-section img{
width: 100%;
height: 150px;
object-fit: cover;
 }
 .box-7{
  width: 30%;
  border: 1px solid #4a474745;
  
 }
 .box-7 h4{
  font-size: 20px;
  font-weight: 500;
 }
 .box-7 p{
  color: #666666;
 }
 .box-7 div{
  padding: 10px;
 }
 .box-7 button{
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 15px;
    padding: 0px 15px;
    border: none;
    background: #000;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color:#ba9d28;
    height: 30px;
    margin-top: 10px;
 }
 .box-7 button:hover{
  background: #ba9d28;
  color: #000;

  }
  /* busket section start from here */
  .mobile-bottom{
    display: none;
     
    justify-content: space-between;
    padding: 0px 50px;
   align-items: center;
  }
    .mobile-bottom:hover{
      background-color: #f7f7f7;
      color: #ba9d28;
      cursor: pointer;
    }
  .mobile-bottom div{
    display: flex;
   align-items: center;
    text-align: center;
    gap: 10px;
    
  }

  
  .busket-section{
    position: sticky;
    top: 60px;
    height: 100%;
     background: white;
     margin-top: 100px;
     z-index: 1;
  }
  .busket-section h5{
    text-align: left;
    padding: 5px 10px;
    background:#000;
    color: #ba9d28;
  }
  .busket-section a{
    color: #000;
    text-decoration: none;
    height: 20px;
    padding-bottom: 3px;
  }
  .busket-section a:hover{
    border-bottom: 1px solid #000;
  }
  .cart-text {
    display: grid;
    width: 100%;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 30px;
  }
   .cart-text div{
    display: flex;
    gap: 6px;
     
   }
   .cart-text div button{
    border: none;
    cursor: pointer;
    height:fit-content;
    background: transparent;

   }
   .time-section{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
   }
   .select-1{
    width: 48%;
    position: relative;
   }
.custom-icon{
  position: absolute;
  top: 8px;
  right: 20px;
  rotate: 180deg;
    
 
}
 .select-2{
  width: 48%;
  position: relative;
 }
   .select-1 select{
    width: 100%;
    padding: 4px 10px;
    border: #3f3e3e40 1px solid;
     appearance: none;        
  -webkit-appearance: none;
  -moz-appearance: none;
   }
   .select-2 select{
    width: 100%;
    padding: 4px 10px;
    border: #3f3e3e40 1px solid;
     appearance: none;        
  -webkit-appearance: none;
  -moz-appearance: none;
   }
    
   .time-section select option{
     border: #3f3e3e40 1px solid;
   }
    .time-section select option:hover{
      background:#ba9d28;
      color: #000;
    }
   .delivery{
    display: flex;
    width: 100%;
   }
   .delivery div{
     width: 50%;
     text-align: center;
     padding: 5px;
     cursor: pointer;
   }
   .delivery div:nth-child(1){
    background: #000;
    color:#ba9d28;
   }
   .delivery div:nth-child(2){
    border: 2px solid #ba9d28;
    border-left: none;
    color: #ba9d28;
    background: #fff;
   }
   .text-5{
    font-size: 20px;
    color: #000;
   }
   .btn-1{
    padding: 8px;
    background: #000;;
    color:#ba9d28;
    border: none;
   }
   .btn-1:hover{
    background: #ba9d28;
    color: black;
    
   }
   /* form section start from here */
   .form-body{
    background: #84817b2d;
      font-family: "Raleway", sans-serif !important;

   }
   .details-1{
font-weight: 600;
margin-bottom: 0;
   }
      .form-section{
        display: flex;
        width: 80%;
        margin: auto;
      }
    select {
  appearance: none; 
  -webkit-appearance: none;  
  -moz-appearance: none; 
  background: url('/Assets/arrow-down-sign-to-navigate.png') no-repeat  right 1.5rem center;
  background-size: 1em;
  padding: 0.5rem 3rem 0.5rem 1rem; 
}
    /* checkout section start from here */
    .checkout{
      background-image: url(./Assets/vector1.png);
      background-position: center;
      background-size: contain;
      
      background-repeat: repeat-x;
      padding:    50px;
      color: white;
    }
    @media (max-width: 768px) {
      .form-section{
        width: 90% !important;
      }
      .checkout-section{
        width: 100% !important;
        margin: 50px 0px !important;
      }
      .container-4{
        margin: 0px !important;
      }
      /* order page css is here */
       .busket-section1{
    width: 85% !important;
   
  }
    }
    .busket-section1{
      width: 50%;
      margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    background: #fff;
    padding: 20px;
    }
    .busket-section1 a{
      color: #000;
      text-decoration: none;
    }
    
    .checkout-section{
     
      margin: 75px 50px;
      padding-bottom: 20px;
      width: 70%;
    }
    .input-section{
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5!important;
      padding: 30px;
      gap: 15px;
       
    }
  .input-section input{
    background-color:#ddd9cd95;
      border: none;
    height: 50px;
    padding-left: 20px;
  }
   .input-section input:focus{
     border:#ba9d28 2px solid;
  outline: none;
   }
  .order-type-1{
    margin-bottom: 7px;
  }
  .input-section select{
    background-color:#ddd9cd95;
    border: none;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: #978787;
    
  }
  .input-section select:focus{
     border:#ba9d28 2px solid;
    outline: none;
  }
  .container-4{
     background: #ddd9cd95; 
    padding: 25px;
    margin: 28px;
  }
  .order-type{
    display: flex;
    justify-content: center;
     
    gap: 20px;
  }
  /* Deliver button hover */
   .order-type .div-1:hover{
    background:#ba9d28;
    color: white;
   }
   /* Collection button hover */
    .order-type .div-2:hover{
    background:#ba9d28;
    color: white;
   }
   /* deliver button */
  .order-type .div-1
    {
       background:#ba9d28;
    border: solid 2px #ba9d28;
     
    color: #ffffff;
      font-weight: 600;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }
  /* collection button */
  .div-2{
    background: transparent;
    border: solid 2px #ba9d28;
    width: 240px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color:#ba9d28;
    font-weight: 600;
    cursor: pointer;
  }
  .div-3{
    display: flex;
    justify-content: center;
  }
  /* submit button */
  .button-4{
    background-color:#ba9d28;
    font-weight: 600;
    width: 240px;
    margin: auto;
    height: 50px;
    color: #000;
    margin-top: 16px;
    border: none;
    cursor: pointer;
  }
  .button-4:hover{
        background: #000;
        color: #ba9d28;
  }
  .payment-section{
    display: flex;
    gap: 20px;
 
  }
  .img-3 img{
    width: 20px !important;
    height: 20px;
  }
  .img-3{
    display: flex;;
    width: 47%;
    height: 35px;
    align-items: center;
     background: #0000001f;
     padding: 3px 5px;
    justify-content: space-between;
  }
  .img-3 p{
    font-size: 20px !important;
    margin: 0;
    color: #ba9d28;
  }
  .img-4{
    display: flex;
    width: 47%;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    background:#ba9d28;
    color: #fff !important;
    padding: 3px 5px;
  }
  .img-4 p{
     font-size: 20px !important;
    margin: 0;
    color: #fff !important;
  }
  .img-4 img{
    width: 20px !important;
    height: 20px;
  }
  .mobile-navbar-b{
    text-decoration: none;
    color: #000;
  }
  .order-page1{
     background: #0000001f;
  }