* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
}
/* Navbar css start from here */
.navbar{
    padding: 0px 120px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
}
.socail-media a:nth-child(1){
  color: #033a8d;
}
.socail-media a:nth-child(2){
  color: #ed3434;
}
.socail-media a:nth-child(4){
  color: red;
}
.socail-media li:hover{
color: gold;
cursor: pointer;
}
.nav-sidebar {
  position: absolute;
  top: 80px;
   right: 100px; 
  width: 340px;
  font-family: sans-serif;
  background: white;
  color: green;
  transition: opacity 2.2s ease-in, transform 2.2s ease-in;

  padding: 40px 20px;
  z-index: 999;
  display: none;
}

.nav-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-sidebar ul li {
  padding: 10px 20px;
  border-radius: 8px;
  background-position: left center;
  cursor: pointer;
   
}
 
.nav-sidebar ul li:nth-child(1):hover {
  color: white ;
     background: linear-gradient(to left, rgb(101, 240, 15) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(2):hover {
  
     background: linear-gradient(to left, rgb(221, 240, 15) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(3):hover {
  
     background: linear-gradient(to left, rgb(240, 184, 15) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(4):hover {
  
     background: linear-gradient(to left, rgb(240, 15, 161) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(5):hover {
  
     background: linear-gradient(to left, rgba(44, 44, 43, 0.926) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
}
.nav-sidebar ul li:nth-child(6):hover {
  color: white ;
     background: linear-gradient(to left, orange 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(7):hover {
  color: white ;
     background: linear-gradient(to left, gray 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar ul li:nth-child(8):hover {
  color: white ;
     background: linear-gradient(to left, rgb(116, 15, 240) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.4s ease;
  
}
.nav-sidebar a:hover{
  color: white;
}
.nav-sidebar a {
   color: green;
  text-decoration: none;
  font-size: 23px;
  
}

/* Show the sidebar when active */
.nav-sidebar.show {
  display: block;} 
.logo{
    width: 200px;
    height: 200px;
    overflow-y: visible;
    position: relative;
    margin-top: 20px;
    z-index: 2;
}
 
.menu-btn {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
   justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #000;
  border-radius: 2px;
  transition: 0.4s ease;
}
.menu-btn span:nth-child(1){
    width: 25px;
}

/* Transform to X using just 3 spans */
#menu-toggle:checked + .menu-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
   
}
#menu-toggle:checked + .menu-btn span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}
.button-1{
    margin-top: -120px;
    width: 176px;
   padding-left: 100px;
}
.button-2{
   margin-top: -120px;
    width: 176px;
}
 
/* hero section css start from here */
.hero-section {
    position: relative;
    z-index: 1;
    height: 80vh;
    
}
.hero-section video{
   
width: 100%;
height: 80vh;
object-fit: cover;
display: block;
}
.box-1{
     
     position: absolute;
      width: 100%;
     bottom: -50px;
   
}
.box-1 .box-2{
    width: 33%;
  
 margin: auto;  
 background: #000;
 overflow-y: visible;
}
.button-3{
margin: auto;
width: 200px;
background: #ffc105d1;
border: none;
padding: 8px 0px;
margin-top: 10px;
}
.button-3:hover{
    background: transparent;
    border: dotted #ffc105d1 2px;
    color: white;
}
.box-3{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*  our favourite food  section css start from here */
.favourite-section{
    margin-top: 150px;
    margin-bottom: 50px;
}
.swiper {
  width: 80%;
  padding: 20px 0;
  position: relative;
}
 
.swiper-slide {
  width: 280px;
  
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  
  border-radius: 8px;
}
 .swiper-slide img{
    width: 280px;
    height: 180px;
    object-fit: cover;
   
 }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0px;
  top: auto;
  transform: translateY(0);
  width: 30px;
  height: 30px;
  
   color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
 display: none;
}

 

.swiper-button-prev {
  left: 50%;
  transform: translateX(-60px); /* move left */
}

.swiper-button-next {
  left: 50%;
  transform: translateX(20px); /* move right */
}

.swiper {
  padding-bottom: 70px;
}
.text-1{
     color: rgb(1, 71, 1);
     font-size: 45px;
     font-weight: 500;
}
.text-2{
    font-size: 25px;
     color: rgb(1, 71, 1); 
    margin-top: 25px;
    font-weight: 500;
}
.text-2:hover{
    color: gold;
    
}
.describ-text{
    font-size: 18px;
    color: gray;
    font-weight: 300;
}
@media (max-width: 768px) {
  .navbar{
    padding: 0px  !important;
  }
  .logo{
    width: 90px !important;
    height: 100px !important;
    margin: 0px !important;
  }
  .button-1{
    padding: 0px !important;
    margin-top: 0px !important;
    width:  40px !important;
  }
  .button-2 {
    width: 40px !important;
    margin-top: 0px !important;
  }
  .socail-media{
    gap: 4px !important;
  }
  .button-2 .my-icon{
     
    height: 18px !important;
    padding-left: 5px !important;
    width: 18px !important;
    
  }
  .nav-sidebar{
    right: 0px !important;
    top: 100px !important;
    width: 250px !important;
  }
  /* mobile hero section start from here */
  .hero-section{
    width: 100% !important;
    height: 70vh !important;
  }
  .hero-section video {
    height: 70vh !important;
  }
  .box-1 div{
    width: 100% !important;
  }
  .box-3 div{
    display: flex;
    justify-content: center;
  }
  .favourite-section{
    margin: 80px 0px 30px 0px !important;
  }
  .swiper{
    padding: 0px !important;
  }
  .swiper-slide{
    width: 100% !important;
    margin: 0px !important;
    height: 46vh !important;
    
  }
  .swiper-slide img{
    width:  100% !important;
    height: 30vh !important;
  }
  .swiper-button-prev {
  left: 50% !important;
  transform: translateX(-60px) !important; /* move left */
}

.swiper-button-next {
  left: 50% !important;
  transform: translateX(60px) !important; /* move right */
}
  .bg-1{
    width: 100% !important;
    height: 40vh !important;
  }
 .bg-2{
    width:  100% !important;
    height: 100% !important;
    padding: 30px !important;
  }
  .about-food{
    margin: 30px !important;
    gap: 30px !important;
  }
  .about-food div{
    width: 100% !important;
    
  }
  .container div{
  width: 100% !important;
} 
.under-container{
  padding: 20px !important;
}
.review-section div{
  width: 100% !important;
}
.review-section {
  height: 100% !important;
  gap: 0px !important;
}
}
/* Food-section start from here */
.food-section{
  display: flex;
  flex-wrap: wrap;
}
.bg-1{
  background-image: url('./assets/side-pic-2_0002_Layer-1-1024x797-1-960x650.png');
  background-size: cover;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 50%;
}
.bg-1 h1 {
  color: white;
  font-size: 35px;
  background:#2ed059;
  width: 150px;
}
.bg-1 p{
  color: rgba(255, 255, 255, 0.658);
  font-family: sans-serif;
  font-weight: 300;
}
.bg-2{
  width: 50%;
  background: rgb(247, 158, 3);
  padding: 220px 180px;
  height: 75vh;
  color: white;
  text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.bg-2 h1{
  font-size: 48px;
  font-weight: 600;
}
.bg-2 h4{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
.bg-2 p {
  font-family: sans-serif;
}
/* about our food section css start from here */
.about-food{
  display: flex;
  justify-content: space-between;
  margin: 80px 100px;
  gap: 80px;
  flex-wrap: wrap;
}
.about-food div{
  width: 28%;
}
.text-col-1{
  color:  rgb(247, 158, 3); 
}
.col-2{
  color: rgb(241, 144, 176);
}
.col-3{
  color: #3fd5f0;
}
.text-3{
  font-size: 40px;
  font-weight: 600;
}
.p1{
  font-family: sans-serif;
}
.p2{
  color: rgba(86, 81, 81, 0.658);
}
/* our chefs section css start from here */
.container{
  display: flex;
  flex-wrap: wrap;
}
.container div{
  width: 50%;
} 
.container div h1 {
  color: goldenrod;
  font-weight: 600;
  font-size: 42px;
}
.container div p{
  font-size: 24px; 
  color: gray;
}
.container div img{
  width: 100%;
}
.under-container{
  padding: 100px 20px 100px 150px;
}
/* review section start from here */
.review-section{
  background-image: url('/assets/897A1213-scaled.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  background-color: #1614144b;
}
.review-section div{
  width: 35%;
  background: #ffffffaa;
  padding: 25px;
}
.review-section div p{
  font-family: sans-serif;
  color: rgba(32, 29, 29, 0.848);
}
.review-section div h4{
  color: rgb(245, 119, 161);
  font-weight: 600;
  font-size: 30px;
}